# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/clinet/node_modules
/server/node_modules
/clinet/.pnp
/clinet/.pnp.js

# testing
/clinet/coverage

# production
/clinet/build

# misc
/clinet/.DS_Store
/clinet/.env.local
/clinet/.env.development.local
/clinet/.env.test.local
/clinet/.env.production.local

/clinet/npm-debug.log*
/clinet/yarn-debug.log*
/clinet/yarn-error.log*
